[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
[submodule "fonts/source-sans-pro"]
	path = fonts/source-sans-pro
	url = https://github.com/adobe-fonts/source-sans-pro.git
	branch = release
