# Site metadata
name: Flycheck
description: "On the fly syntax checking for GNU Emacs"
baseurl: ""
url: "http://www.flycheck.org"

# Author settings
author:
  name: "Sebastian Wiesner"
  email: "flycheck@lunaryorn.com"
  uri: "http://www.lunaryorn.com"

# Github settings
github:
  username: flycheck
  url: "https://github.com/flycheck/flycheck.github.io/"

feed:
  path: "feed.atom"

# Build settings
markdown: kramdown
timezone: UTC
encoding: utf-8
exclude:
  - "Rakefile"
gems:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
      type: "drafts"
    values:
      layout: "post"
