@font-face {
    font-family: "Source Code Pro";
    src: url("SourceCodePro-Regular.woff") format('woff');
}

@font-face {
    font-family: "Source Code Pro";
    src: url("SourceCodePro-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Lato Light";
    src: url("Lato-Light.woff") format('woff');
}

@font-face {
    font-family: "Lato Light";
    src: url("Lato-LightItalic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "Lato Light";
    src: url("Lato-Medium.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Lato Light";
    src: url("Lato-MediumItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}
