@font-face {
    font-family: "Source Code Pro";
    src: url("SourceCodePro-Regular.woff") format('woff');
}

@font-face {
    font-family: "Source Code Pro";
    src: url("SourceCodePro-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Regular.woff") format('woff');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("SourceSansPro-Bold-Italic.woff") format('woff');
    font-style: italic;
    font-weight: bold
}

@font-face {
    font-family: "Charter";
    src: url("Charter-Regular.woff") format('woff');
}

@font-face {
    font-family: "Charter";
    src: url("Charter-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Charter";
    src: url("Charter-Italic.woff") format('woff');
    font-style: italic;
}

@font-face {
    font-family: "Charter";
    src: url("Charter-Bold-Italic.woff") format('woff');
    font-style: italic;
    font-weight: bold
}
