<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-static.html %}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% include head-css.html %}
    {% include head-icon.html %}
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/images/logo.png" />
          </a>
          <ul class="navbar-nav">
            {% for link in site.data.navigation %}
              {% if link.external %}
                {% assign href = link.href %}
              {% else %}
                {% assign href = link.href | prepend: site.baseurl %}
              {% endif %}
              <li><a href="{{href}}"{% if link.external %}target="_blank"{% endif %}>{{ link.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
