<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-static.html %}

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="Syntax checking for GNU Emacs">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="{{ site.baseurl }}/feed.atom" rel="alternate" title="Blog posts" type="application/atom+xml">

    {% include head-css.html %}
    {% include head-icon.html %}
  </head>

  <body>
    {% include ga.html %}
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html">
            <img src="{{ site.baseurl }}/images/logo.png" />
          </a>
        </div>
        <ul class="navbar-nav">
          {% for link in site.data.navigation %}
            {% if link.external %}
              {% assign href = link.href %}
            {% else %}
              {% assign href = link.href | prepend: site.baseurl %}
            {% endif %}
            <li><a href="{{href}}"{% if link.external %} target="_blank"{% endif %}>{{ link.label }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="container">
      {{ content }}
    </div>
    <footer class="page-footer">
      <p>
        <a href="/archive.html">Archive</a> · <a href="/feed.atom">Feed</a>
      </p>
      <p>
          <a rel="license"
             href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative
                      Commons License" style="border-width:0"
                 src="https://i.creativecommons.org/l/by/4.0/88x31.png"
                 />
          </a><br />

          This work by <a xmlns:cc="http://creativecommons.org/ns#"
          href="http://www.lunaryorn.com" property="cc:attributionName"
          rel="cc:attributionURL">Sebastian Wiesner</a> is licensed under
          a <a rel="license"
          href="http://creativecommons.org/licenses/by/4.0/">Creative Commons
          Attribution 4.0 International License</a>.
        </p>
    </footer>
  </body>
</html>
